extends _partial/layout.pug

block cssFile
    link(rel="stylesheet" href="/css/partical.css")

block body
    #home
        .preAnimat 
            canvas#textcanvas
            canvas#maincanvas
        #menu
            .linkitem
                p= theme.home_title
                div
                    -for(i in theme.social)
                        a(href=theme.social[i].url title=theme.social[i].title)
                            if theme.social[i].icon
                                i.iconfont(class=theme.social[i].icon)
                            else
                                img(src=theme.social[i].img+'.png')
            include _partial/footer.pug
block js
    script(src="/js/partical.js")