extends _partial/layout.pug

block cssFile
    link(rel="stylesheet" href="/css/post.css")
    link(rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css")
block main
    .maxwidth
        include _partial/sidebar.pug
        .post.rightside
            h1.artititle= page.title
            .info
                if wordcount
                    i.iconfont.iconwenzi(title="字数")= wordcount(page.content)
                if min2read
                    i.iconfont.iconshijian(title="阅读时长")= min2read(page.content)
                if page.categories.length > 0
                    i.iconfont.iconarchives(title="文章分类")
                        each category in page.categories.toArray()
                            span= category.name
                if page.tags.length > 0
                    i.iconfont.iconbiaoqian(title="文章标签")
                        each tag in page.tags.toArray()
                            span= tag.name
                i.iconfont.iconshijian
                    span(title="文章发布时间")= date(page.date, "YYYY-MM-DD") 
            .postDetail!= page.content
            if (page.copyright)
                include _partial/copyright.pug
            if (theme.Gitalk.client_id && theme.Gitalk.client_secret && theme.Gitalk.enable)
                include _partial/comment.pug
            if (theme.Valine.enable && theme.Valine.appId && theme.Valine.appKey)
                include _partial/valine.pug
            include _partial/footer.pug
//- block js
//-     script(src="/js/hexo.js")
